doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Socket.IO Chat Example
    link(rel='stylesheet', href='/styles/main.css')
  body
    header#toolbar
      .dropdown.set-mode.activ(data-mode='false')
        .preview
          i
            img(src='/imgs/brush.png')
      .dropdown.set-mode(data-mode='white')
        .preview
          i
            img(src='/imgs/eraser.png', width='20')
      .dropdown.color
        .preview(data-color='#111111')
          i
        ul.choices
          li.close(data-color='#001F3F')
            i
          li.close(data-color='#0074D9')
            i
          li.close(data-color='#7FDBFF')
            i
          li.close(data-color='#39CCCC')
            i
          li.close(data-color='#3D9970')
            i
          li.close(data-color='#2ECC40')
            i
          li.close(data-color='#01FF70')
            i
          li.close(data-color='#FFDC00')
            i
          li.close(data-color='#FF851B')
            i
          li.close(data-color='#FF4136')
            i
          li.close(data-color='#F012BE')
            i
          li.close(data-color='#B10DC9')
            i
          li.close(data-color='#85144B')
            i
          li.close(data-color='#AAAAAA')
            i
          li.close(data-color='#DDDDDD')
            i
          li.close(data-color='#111111')
            i
      .dropdown.size
        .preview(data-size='5')
          i
        ul.choices
          li.close(data-size='5')
            i
          li.close(data-size='10')
            i
          li.close(data-size='15')
            i
          li.close(data-size='20')
            i
          li.close(data-size='25')
            i
    .wrap
      canvas#canvas(width='1500', height='800')
      #cursor
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/libs/underscore.js')
    script(src='/libs/main.js')
